# Copy to .env.local and fill from SitecoreAI Deploy → Developer settings.

SITECORE_EDITING_SECRET=
NEXT_PUBLIC_DEFAULT_SITE_NAME=university
NEXT_PUBLIC_DEFAULT_LANGUAGE=en
SITECORE_EDGE_CONTEXT_ID=
NEXT_PUBLIC_SITECORE_EDGE_CONTEXT_ID=
SITECORE_RENDERINGHOST_NAME=university
