/* Background layout */
.cover-background {
  > .component-content {
    @apply bg-cover bg-center bg-no-repeat;
  }
}

.fix-background {
  > .component-content {
    @apply bg-cover bg-fixed bg-top-left bg-no-repeat;
  }
}

/* This doesn't really do what it says - we may need to rework it */
.parallax-background {
  > .component-content {
    @apply bg-cover bg-fixed bg-position-[50%_0] bg-no-repeat max-md:bg-scroll;
  }
}

/* Spacing */
/* Using padding for the sides so it doesn't break the grid widths */
.indent {
  @apply px-12;
}

.indent-top {
  @apply mt-6;
}

.indent-bottom {
  @apply mb-6;
}

/* Content alignment */
.position-left,
.position-left * {
  text-align: left !important;
}

.position-right,
.position-right * {
  text-align: right !important;
}

.position-center,
.position-center * {
  text-align: center !important;
}

.position-left select {
  direction: ltr !important;
}

.position-right select {
  direction: rtl !important;
}

.position-center select {
  text-align-last: center !important;
}
