/* boxed */
.boxed {
  > div {
    @apply mx-auto! max-w-5xl;
  }
}

/* Add highlight */
.highlighted-top,
.highlighted-bottom,
.highlighted-left,
.highlighted-right {
  > div {
    @apply border-accent! my-6 p-6;
  }
}
.highlighted-top > div {
  @apply border-t;
}

.highlighted-bottom > div {
  @apply border-b;
}

.highlighted-left > div {
  @apply border-l;
}

.highlighted-right > div {
  @apply border-r;
}

.main-btn {
  @apply bg-accent text-background hover:bg-accent/95 flex items-center justify-center rounded-md px-6 py-3 text-center text-lg font-semibold transition-all hover:shadow-md;

  &[disabled] {
    @apply pointer-events-none opacity-60;
  }
}

.secondary-btn {
  @apply border-foreground bg-background text-foreground hover:bg-background-muted flex items-center justify-center rounded-md border-2 px-8 py-2 text-center text-lg font-semibold transition-all hover:shadow-md;

  &[disabled] {
    @apply pointer-events-none opacity-60;
  }
}

.outline-btn {
  @apply border-border hover:bg-background-muted rounded-md border px-4 py-1.5 text-sm transition-colors;
}

.simple-btn {
  @apply bg-background-muted flex items-center gap-2 rounded-md border px-2 py-1 text-sm font-semibold shadow-sm transition-all;

  &:hover {
    @apply shadow-md;
  }

  &[disabled] {
    @apply pointer-events-none opacity-60;
  }

  svg {
    @apply size-4;
  }

  &.inverted {
    @apply bg-foreground text-background hover:bg-foreground/90;
  }
}

.info-card {
  @apply bg-background space-y-4 rounded-lg border p-6 text-sm shadow-sm;

  .info-card-title {
    @apply text-foreground mb-6 flex items-center gap-2 text-base font-bold;

    svg {
      @apply size-5;
    }
  }
}
