@theme {
  --color-foreground: #111828;
  --color-foreground-light: #4a5565;
  --color-foreground-muted: #384354;

  --color-background: #fff;
  --color-background-accent: #dbf3f5;
  --color-background-muted: #f5f5f5;

  --color-accent: #3cbed1;
  --color-accent-dark: #228091;

  --color-success: #2ec1ac;
  --color-danger: #e7000b;

  --color-border: #e5e5e5;

  --font-heading: 'Open Sans', sans-serif;
  --font-body: 'Open Sans', sans-serif;

  --radius-base: 0.5rem;

  /*
  This does not show in the theme editor
  but is used to override the defaults based on the user's selection for radius-base
  */
  --radius-xs: calc(var(--radius-base) * 0.25);
  --radius-sm: calc(var(--radius-base) * 0.5);
  --radius-md: var(--radius-base);
  --radius-lg: calc(var(--radius-base) * 1.5);
  --radius-xl: calc(var(--radius-base) * 2);
  --radius-2xl: calc(var(--radius-base) * 3);
  --radius-3xl: calc(var(--radius-base) * 4);
  --radius-4xl: calc(var(--radius-base) * 5);
}
